@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');

:root {
    --main-blue-color: #0F0E17;
    --main-yellow-color: #FED941;
    --main-grey-color: #A7A9BE;
    --main-black-color: #000000;
    --main-white-color: #FFFFFE;
}

body {
    background-color: var(--main-blue-color);
    color: var(--main-white-color);
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 24px 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .block-buster {
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

header nav a {
    color: var(--main-white-color);
    text-decoration: none;
    margin-right: 120px;
}

header nav a:hover, header nav a.active {
    color: var(--main-yellow-color);
    text-decoration-line: underline;
}

header .barra-search {
    display: flex;
    width: 605.19px;
    margin-left: 300px;
}

header .input-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 12px;
    position: static;
    width: 533.19px;
    height: 44px;
    left: 0px;
    top: 0px;
    /* white */
    background: #FFFFFE;
    /* primary */
    border: 1px solid #FED941;
    box-sizing: border-box;
    border-radius: 8px 0px 0px 8px;
    /* Inside Auto Layout */
}

header .btnBuscar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 24px;
    position: static;
    width: 72px;
    height: 44px;
    left: 533.19px;
    top: 0px;
    /* primary */
    background: #FED941;
    border-radius: 0px 4px 4px 0px;
    /* Inside Auto Layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

/*! ------------------------------------------CARDS---------------------------------------- !*/

.card {
    display: inline-block;
    width: 220px;
    height: 330px;
    left: 0px;
    top: 0px;
}

.image-cards {
    width: 100%;
    margin: 0;
    border-radius: 8px;
}